name: Format and Lint

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  format_and_lint:
    name: Format and Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: ${{ runner.os }}-bun-

      - name: Install
        run: bun install

      - name: Format
        run: bun format

      - name: Lint
        run: bun lint
