name: CI

on:
  pull_request:

jobs:
  backend_build:
    name: "Build & Check (backend)"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - run: npm i -g --force corepack
      - run: corepack enable
      - name: Setup Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install packages
        run: pnpm i --frozen-lockfile
      - name: Code Check
        run: pnpm backend check
      - name: Lint
        run: pnpm backend lint
      - name: Test
        run: pnpm backend test

  frontend_build:
    name: "Build & Check (frontend)"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/kcmsf

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install
        run: bun install --frozen-lockfile
      - name: Code Check
        run: bun run check
      - name: Lint
        run: bun run lint
      - name: Test
        run: bun run test:ci

  config_check:
    name: "Check (config)"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/config

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Check
        run: bun run check
      - name: Lint
        run: bun run lint
      - name: Test
        run: bun run test
